<div class ="student-expamle-works">
    <div class ="workExampleContent">
    <div class="view-header">
    <h3>some examples of our work</h3>
    </div>
    
    <div class="exapmles-of-work">
      <div class ="exapmle-work-content">
         <p>This level of knowledge equips Tera coders to focus on the tools of the future and how they all work together. 
             These tools and the knowledge of the technology and code behind them, are fundamental building blocks of today's 
             financial systems, educational systems and businesses around the world.</p>
     </div>
        <div class ="student-detail-image"><img alt="example-1" data-entity-type="file" data-entity-uuid="3bb2c9b1-c075-4850-9d65-b0f73648c305" src="/cypher/web/sites/default/files/inline-images/example-1.jpg"/>
        </div>
     </div>
    </div>
</div>
<div class ="workExampleContent-second">
        <div class="exapmles-of-work">
                 <div class ="student-detail-image"><img alt="example-2" data-entity-type="file" data-entity-uuid="f7a75c7a-e0e1-47e4-8ac8-96cc14601409" src="/cypher/web/sites/default/files/inline-images/exapmle-2.jpg"/></div>
                     <div class ="exapmle-work-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                     fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                      id est laborum.</p>
                        </div>
               
      </div>
</div>







<div class ="testimonial-section">
        <div class="view-header">
               <span><img alt="testimonial-image" data-entity-type="file" data-entity-uuid="7f9c73a5-16d9-462c-abca-b4397c24ca4f" src="/cypher/web/sites/default/files/inline-images/testimonial-image.jpg"/></span>
       
               
        </div>
                    <div class="view-content">
                        <h2>emily smith</h2>
                        <h5>Design for tomorrow, Chelsea</h5>
                        <p>I would recommend you do it because you can do so much, and there 
                            is lots of instructions and really helpful bits. After all 
                            the hard work you feel really proud.</p>

                    </div>
    

   </div>

            <div class ="find-camps">
                     <span>
                    <img alt="back" data-entity-type="file" data-entity-uuid="81938202-458d-4377-845c-40f7759e576b" src="/cypher/web/sites/default/files/inline-images/background-image.jpg" />
                      </span>
            <p>FIND CAMPS
                    FOR <span>TERA</span> STUDENTS</p>
                    <a></a>

            </div>




    <!-- code of css-->

        @import "global";
////////////////////// Start Video Section /////////////////////
#block-homebannervideo {
  margin: 92px 0 0 0;
  width: 100%;
  float: left;
  position: relative;
  h2 {
    max-width: 400px;
    position: fixed;
    left: 149px;
    top: 475px;
    span {
      @include cy-font(44px, 57px, "flamaregular", 1px);
      color: $charcoal;
      z-index: 999;
      max-width: 395px;
      background-color: $white;
      box-shadow: 0.5em 0 0 $white, -0.5em 0 0 $white;
      text-transform: uppercase;
    }
  }
}
/////////////////////////// End Video Section //////////////////
//////////////////// Start Curriculam Section /////////////////
.node-27 {
  // padding: 0 !important;
  h2 {
    float: right;
    text-transform: uppercase;
    margin-right: 27.9%;
    padding-bottom: 33px;
    @include breakpoint(phablet) {
      margin-right: 22.7%;
    }
    @include breakpoint(ipad-portrait) {
      margin-right: 15.7%;
    }
    @include breakpoint(mobile) {
      margin-left: 20px;
      float: left;
      padding-bottom: 28px;
    }
  }
  .content-wrap {
    padding: 0;
    @include breakpoint(phablet) {
      padding: 0 !important;
    }
    .curriculumTopcontent {
      @include common;
      .curriculumContent {
        @include common;
        @include breakpoint(mobile) {
          overflow: none;
        }
        p {
          @include cy-font(16px, 28px, "adelle-sans", 0);
          float: right;
          color: $charcoal;
          width: 32.49%;
          font-weight: 100;
          font-style: normal;
          margin-right: 15%;
          @include breakpoint(phablet) {
            width: 46%;
            margin-right: 2%;
          }
          @include breakpoint(mobile) {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            position: relative;
            margin-right: 0;
          }
        }
        span {
          float: left;
          width: 48%;
          position: relative;
          z-index: 23;
          margin-top: -46px;
          margin-left: 0;
          @include breakpoint(mobile) {
            width: 114%;
            margin-top: -40px;
            margin-left: -46px;
            overflow: hidden;
            position: static;
            z-index: 0;
          }
        }
        &:nth-child(2) {
          p {
            float: left;
            margin-top: 121px;
            margin-left: 16%;
            @include pos(relative);
            z-index: 9;

            @include breakpoint(phablet) {
              width: 46%;
              z-index: 7;
              @include pos(relative);
            }
            @include breakpoint(mobile) {
              margin-left: 0;
              margin-top: 13%;
              width: 100%;
            }
          }
          span {
            float: right;
            margin-top: -586px;
            margin-right: -5.4%;
            z-index: 1;
            width: 60%;
            position: relative;
            @include breakpoint(ipad-landscape) {
              position: absolute;
              margin-top: -210px;
              margin-left: -19%;
              width: 55%;
            }
            @include breakpoint(phablet) {
              position: absolute;
              margin-top: -210px;
              margin-left: -19%;
              width: 55%;
            }
            @include breakpoint(ipad-portrait) {
              margin-top: -121px;
              margin-left: -23%;
              margin-right: 0;
              width: 56%;
            }
            @include breakpoint(mobile) {
              position: static;
              margin-top: 35px;
              width: 143%;
              margin-left: 0;
              margin-right: 0;
              float: left;
              overflow: hidden;
            }
          }
        }
      }
    }
    &:nth-child(2) {
      .curriculumContent {
        @include breakpoint(mobile) {
          overflow: hidden;
        }
      }
    }
  }
}
/////////////////////////// Start language  section ///////////////////////////
.lang-wrap {
  @include common;
  padding-top: 63px;
  h3 {
    @include cy-font(26px, 36px, "flamaregular", 0.1px);
    color: $charcoal;
    text-transform: uppercase;
    padding-top: 110px;
    padding-left: 140px;
    margin-bottom: -20px;
    @include breakpoint(phablet) {
      padding-top: 70px;
    }
    @include breakpoint(ipad-portrait) {
     padding-top: 63px;
    }
   
  }
  .views-element-container {
    @include common;
    .view-language- {
      @include common;
      background: url(../images/grid-bg-pattern.svg) repeat;
      @include breakpoint(mobile) {
       display: none;
      }

      .view-content {
        padding: 50px 140px 83.1px 140px;
        @include breakpoint(phablet) {
          padding: 33px 114.2px 66.1px 114.8px;
        }
        div {
          width: 15%;
          display: inline-block;
          margin: 29px 60px 45px 36px;
          @include breakpoint(ipad-landscape) {
            width: 11%;
            margin:  29px 60px 45px 40px;
          }
          @include breakpoint(phablet) {
            width: 11%;
          }
          @include breakpoint(ipad-portrait) {
            width: 14%;
            margin: 24px 0px 38px 52px;
          }
        }
      }
    }
  }
}
/////////////////////////// End language  desktop section ///////////////////////////
/////////////////////////// Language section for mobile ////////////////////////////
.lang-wrap-mobile{
  display:none;
  @include breakpoint(mobile) {
    width: 100%;
    float: left;
    display: block;

   }
   .views-element-container{
     width: 100%;
     float: left;
     .view-language-{
      .view-header{
        h3{
         @include breakpoint(mobile) {
           @include cy-font(24px, 34px, "flamaregular", 0);
           color: $charcoal;
           text-transform: uppercase;
           padding-top: 63px;
           padding-left: 20px;
         }
        }
      }
      .view-content{
        @include breakpoint(mobile) {
          margin-top: 60px;
        }
      }
     }
   }
 
  
    .slick-dots{
      @include breakpoint(mobile) {
        margin-top: 60px;
        display: flex;
        justify-content: center;
      }
     
      li{
        @include breakpoint(mobile) {
          color: transparent;
        background-color: #ececec;
        margin-right: 5px;
        width: 25px;
        height: 4px;
        }
       }
       .slick-active{
        @include breakpoint(mobile){
          background-color: $aqua;
          width: 49px;
        }
      }
   }
   .slick__arrow{
    @include breakpoint(mobile){
      display: none;
    }
  }
  
}


/////////////////////////// Language section for mobile ////////////////////////////
//////////////////////// Testomonial Section //////////////////////
.curr-testimonial-wrapper {
  @include common;
  .views-element-container {
    @include common;
    .view-testimonial {
      @include common;
      margin-top: 112px;
      margin-bottom: 90px;

      .view-header {
        width: 37%;
        float: left;
        margin-left: 6%;
        @include breakpoint(mobile) {
          width: 100%;
          float: none;
          margin-left: 0;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .view-content {
        @include breakpoint(phablet) {
          margin-top: -80px;
        }
        div {
          padding-right: 4%;
          float: right;
          width: 32%;
          margin-top: 153px;
          position: relative;
          padding-left: 12px;
          margin-right: 17%;
          margin-bottom: 20px;
          @include breakpoint(phablet) {
            width: 40%;
            margin-right: 7%;
          }
          @include breakpoint(mobile) {
            padding-left: 58px;
            padding-right: 58px;
            width: 100%;
            margin-bottom: 27px;
            float: none;
          }
          p {
            @include cy-font(16px, 28px, "adelle-sans", 0);
            color: $charcoal;
            font-style: normal;
            font-weight: 100;
            padding-top: 14px;
          }
          h2 {
            @include cy-font(18px, 21px, "flamaregular", 0.07px);
            color: $charcoal;
          }
          h5 {
            @include cy-font(15px, 18px, "ocrbregular", 0.05px);
            padding-top: 15px;
            color: $charcoal;
          }
          &:before {
            position: absolute;
            top: -10px;
            left: -50px;
            background: url(../images/purplelt.svg) no-repeat 0 0;
            width: 35px;
            height: 31px;
            content: "";
            @include breakpoint(mobile) {
              left: 0;
            }
          }
          &:after {
            position: absolute;
            top: auto;
            bottom: -43px;
            left: 91%;
            background: url(../images/purplert.svg) no-repeat 0 0;
            width: 35px;
            height: 31px;
            content: "";
            @include breakpoint(mobile) {
              right: 0;
              left: auto;
            }
          }
        }
      }
    }
  }
}
//////////////////////// End Testomonial Section //////////////////////
///////////////////////// End curriculam section //////////////////////

//////////////////////// Gallery Section /////////////////////////////////
.footer-gallery{
  background: url(../images/grid-bg-pattern.svg) repeat;
  width: 100%;
  float: left;
}
.slick-list.draggable{
  margin: 0 auto;
  overflow: hidden;
 }
.slick-initialized .slick-slide{
  display: block;
  padding: 0 3px;
}
//////////////////////// End Gallery Section /////////////////////////////

////////////////////////// Student Detail Pgae //////////////////////////
.vocabulary-age-group{
  @include common;
  .content{
    @include common;
    .age-group-wrapper{
      @include common;
      padding-bottom: 35px;
      position: relative;
      .studentContent{
        width: 27.19%;
        float: left;
        margin-left: 15.4%;
        @include breakpoint(ipad-landscape) {
          width: 30%;
          margin-left: 100px;
        }
        @include breakpoint(ipad-portrait) {
          width: 42%;
          margin-left: 53px;
        }
        @include breakpoint(mobile) {
          width: 100%;
          padding-left: 20px;
          padding-right: 20px;
          margin-left: 0;
        }
       
        h2{
          @include cy-font(26px, 36px, "flamamedium", 1px);
          color: $charcoal;
          margin-bottom: 8px;
          text-transform: uppercase;
          margin-left: -50px;
          padding-bottom: 74px;
          @include breakpoint(ipad-portrait) {
            padding-left: 20px;
          }
          @include breakpoint(mobile) {
            @include cy-font(28px, 36px, "flamamedium", 0);
            padding-bottom: 17px;
            margin-left: -18px;
          }
         
        }
        p{
          @include cy-font(15px, 21px, "ocrbregular", 0.5px);
          color: $charcoal;
          @include breakpoint(mobile) {
            @include cy-font(15px, 18px, "ocrbregular", 0);
          }
        }
        span{
          p{
            @include cy-font(16px, 28px, "adelle-sans", 0);
            display: inline-block;
            color: #505050;
            font-style: normal;
            font-weight: 100;
            padding-top: 25px;
            @include breakpoint(mobile) {
              @include cy-font(16px, 26px, "adelle-sans", 0);
              padding-top: 15px;
            }
            
          }
        }
      }
      .pic{
          float: right;
          width: 48.91%;
          top: 95px;
          position: absolute;
          margin-left: 5.8%;
          @include breakpoint(ipad-portrait) {
            width: 43%;
           padding-top: 147px;
           margin-right: 3%;
           margin-left: 30px;
          }

          @include breakpoint(mobile) {
           width: 100%;
           margin-right: 0;
           padding-top: 50px;
           position: static;
       }
      }
    }
  }
}

///////////////////////////// Some Examples of Work  Section /////////////////////////

.theme-generic{
 @include common;
 .student-expamle-works{
   @include common;
   padding-top: 131px;
   .workExampleContent{
     width: 95.8%;
     float: left;
     background-color: $dark_grey2;
     margin-left: 30px;
     padding-bottom: 113px;
     @include breakpoint(ipad-landscape) {
      width: 100%;
      margin-left: 0;
     }
     @include breakpoint(mobile) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 67px;
     }
     
     .view-header{
       h3{
        @include cy-font(18px, 22px, "ocrbregular", 0.05px);
        color: $white;
        padding-top: 84px;
        padding-left: 97px;
        padding-bottom: 76px;
        @include breakpoint(ipad-portrait) {
          padding-bottom: 0;
          padding-left: 21px;
        }
        @include breakpoint(mobile) {
          @include cy-font(15px, 18px, "ocrbregular", 0.05px);
          padding-left: 0;
          padding-top: 58px;
        }
       }
     }
     .exapmles-of-work{
      .exapmle-work-content{
        float: right;
        width: 30%;
        margin-right: 18%;
        padding-top: 57px;
        padding-bottom: 20px;
        @include breakpoint(ipad-landscape) {
          margin-right: 46px;
          width: 40%;
        }
        @include breakpoint(ipad-portrait) {
          width: 43%;
          margin-right: 20px;
        }
        @include breakpoint(mobile) {
          width: 100%;
          margin-right: 0;
          padding-top: 30px;
         }
        p{
          @include cy-font(16px, 28px, "adelle-sans", 0);
          color: $white;
          font-style: normal;
          font-weight: 100;
          @include breakpoint(mobile) {
            @include cy-font(16px, 26px, "adelle-sans", 0);
           }
         }
      }
      .student-detail-image{
        float: left;
        width: 38.7%;
        margin-left: 9%;
        @include breakpoint(ipad-landscape) {
          margin-left: 40px;
          width: 40%;
          padding-top: 22px;
        }
        @include breakpoint(ipad-portrait) {
          width: 47%;
          padding-top: 60px;
          margin-left: 23px;
        }
        @include breakpoint(mobile) {
          width: 100%;
          margin-left: 0;
          padding-top: 40px;
         }
        }
       }
      }
  }

  .workExampleContent-second{
    width: 100%;
    float: left;
    @include breakpoint(mobile) {
      padding-left: 20px;
      padding-right: 20px;
     }
    .exapmles-of-work{
      .exapmle-work-content{
       float: left;
        width: 32.6%;
        margin-left: 14.2%;
        padding-top: 108px;
        padding-bottom: 20px;
        @include breakpoint(ipad-landscape) {
          margin-left: 63px;
          margin-top: -58px;
          width: 46%
        }
        @include breakpoint(ipad-portrait) {
         width: 46%;
         margin-left: 50px;
        }
        @include breakpoint(mobile) {
          width: 100%;
          margin-left: 0;
          padding-bottom: 10px;
         }
        p{
          @include cy-font(16px, 28px, "adelle-sans", 0);
          color: $charcoal;
          font-style: normal;
          font-weight: 100;
         }
      }
      .student-detail-image{
       float: right;
        width: 38.7%;
        margin-right: 10.3%;
        margin-top: -85px;
        @include breakpoint(ipad-landscape) {
          width: 38%;
          margin-right: 57px;
        }
        @include breakpoint(ipad-portrait) {
          width: 42%;
          margin-right: 28px;
        
        }
        @include breakpoint(mobile) {
          width: 100%;
          margin-right: 0;
          margin-top: -56px;
         }
        }
       }
  }
///////////////////////////// Some Examples of Work Section End /////////////////////////

///////////////////////////// Testimonial Section ///////////////////////////////
.testimonial-section-image{
 @include common;
 
  .view-header{
    // position: relative;
    background: url(../images/testimonial-2.svg) no-repeat;
    span{
      width: 38.7%;
      float: right;
      margin-right: 10.3%;
      margin-top: -87px;
      @include breakpoint(ipad-landscape) {
        margin-right: 55px;
        margin-top: -77px;
        width: 38%;
      }
      @include breakpoint(ipad-portrait) {
        width: 42%;
        margin-right: 33px;
      
      }
      @include breakpoint(mobile) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0;
        margin-top: 20px;
       }
      
    }
  }
 }
}
.testimonial-wrap{
  @include common;
  margin-bottom: 200px;
  .views-element-container{
    @include common;
    .view-testimonial{
      @include common;
      margin-top: -97px;
      .view-content{
     
        div{
          width: 30%;
          position: relative;
          margin-left: 16.8%;
          @include breakpoint(mobile) {
            margin-top: 113px;
            margin-bottom: -86px;
          }
          @include breakpoint(ipad-landscape) {
            margin-top: 40px;
            margin-left: 138px;
         }
          @include breakpoint(ipad-portrait) {
            width: 40%;
            margin-left: 93px;
          }
          @include breakpoint(mobile) {
            width: 100%;
            margin-left: 0;
            padding-left: 58px;
            padding-right: 58px;
            margin-top: 131px;
          }
          h2{
            @include cy-font(18px, 21px, "flamaregular", 0.07px);
            color:$charcoal;
            text-transform: uppercase;
          }
          h5{
            @include cy-font(15px, 18px, "ocrbregular", 0.05px);
            color:$charcoal;
            padding-top: 15px;
          }
          p{
            @include cy-font(16px, 28px, "adelle-sans", 0);
            color: $charcoal;
            font-style: normal;
            font-weight: 100;
            padding-top: 20px;
          }
          &:before{
            position: absolute;
            top: -10px;
            left: -50px;
            background: url(../images/purplelt.svg) no-repeat 0 0;
            width: 35px;
            height: 31px;
            content: "";
            @include breakpoint(mobile) {
              left: 0;
            }
          }
          &:after{
            position: absolute;
            top: auto;
            bottom: -43px;
            left: 91%;
            background: url(../images/purplert.svg) no-repeat 0 0;
            width: 35px;
            height: 31px;
            content: "";
            @include breakpoint(mobile) {
              left: auto;
              right: 0;
            }
        }
        }
      }
    }
  }
}
///////////////////////////// Testimonial Section End ///////////////////////////////

///////////////////////////// Find Camps for Students ///////////////////////////////
.age-group-filter{
  @include common;
  //  background: #fff url(../images/grid-bg-pattern.svg) repeat-x -21px 540px;
   background: #fff url(../images/grid-bg-pattern.svg) repeat;
   margin-top: 250px;
   @include breakpoint(mobile) {
   margin-top: 0;
   overflow: hidden;
   }
    p{
      @include cy-font(35px, 45px, "flamaregular", 0.1px); 
      width: 33.7%;
      margin-left: 15.3%;
      color: $charcoal;
      float: left;
      margin-top: 95px;
      margin-bottom: 82px;
      @include breakpoint(ipad-landscape) {
        margin-left: 100px;
      }
      @include breakpoint(ipad-portrait) {
        margin-left: 50px;
      }
      @include breakpoint(mobile) {
        @include cy-font(18px, 26px, "flamaregular", 0.07px); 
        width: 100%;
        margin-right: 0;
        margin-left: 30px;
        margin-top: 52px;
        margin-bottom: 41px;
    }
      span{
        background-color: $aqua;
        width: 0;
        margin-left: 0;
        padding-bottom: 0;
        margin-right: 2px;
        margin-top: 0;
        display: unset;
        a{
          @include cy-font(35px, 45px, "flamaregular", 0.1px); 
          text-transform: uppercase;
          @include border-radius(0);
          padding: 0;
          float: none;
          margin: 0;
          @include breakpoint(mobile) {
            @include cy-font(18px, 26px, "flamaregular", 0.07px); 
        }

        }
      }
    }
    span{
      width: 79%;
      display: block;
      margin-left: 139px;
      margin-top: -272px;
      @include breakpoint(ipad-landscape) {
        margin-top: -180px;
        width: 90%;
        margin-left: 56px;
      }
      @include breakpoint(ipad-portrait) {
       margin-top: -141px;
       width: 90%;
       margin-left: 44px;
      }
      @include breakpoint(mobile) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: -23px;
    }
    }

    a{
      @include cy-font(16px, 18px, "flamamedium", 1px);
      color: $white;
      float: right;
      background: $aqua;
      padding: 12px 46px;
      margin-top: 122px;
      margin-right: 15.3%;
      @include border-radius(21px);
      text-transform: uppercase;
      @include breakpoint(ipad-landscape) {
        margin-right: 100px;
      }
      @include breakpoint(ipad-portrait) {
        margin-right: 50px;
      }
      @include breakpoint(mobile) {
        width: 87.91%;
        margin-right: 8.37%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 38px;
    }
   }

}

///////////////////////////// Find Camps for Students End ///////////////////////////////

////////////////////////// Student Detail Page End /////////////////////////////////////





   //http://localhost:8888/cypher/web/themes/custom/cypher/assets/images/background-student-detail@2x.jpg
   git commit -m "CYP-28  # Student detail page with responsive #time 8h"